@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.MuiMenu-list {
  background: linear-gradient(0deg, rgba(103, 80, 164, 0.08), rgba(103, 80, 164, 0.08)),
    #fffbfe;
  margin-top: 30px;
}
