$primary-color: #6750a4;
$secondary-color: #6750a414;
$third-color: #ffd76f;
$black-color: #49454f;
$light-primary: #f7f2fa;
$white: #fffbfe;

/** Sizing */
$bottom-bar-height: 80px;
$side-bar-width: 80px;
