$primary-color: #283648;
$secondary-color: #6750a414;
$third-color: #ffd76f;
$black-color: #49454f;
$light-primary: #fafafa;
$white: #fafafa;

/** Sizing */
$bottom-bar-height: 80px;
$side-bar-width: 80px;
